{% include 'parts/head.liquid' %}


		<!-- Logo Section -->
		<section id="logo-section" class="logo-section text-center">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="logo"><img src="/media/logo-color.svg"></div>
					</div>
				</div>
			</div>
		</section>




		<!-- Intro Section -->
		<section id="intro-section" class="intro-section space-250-bottom text-center fill-dark" style="border-top: 10px solid #1FAE58; background-image: url('/media/background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3 space-200-top">The All New</div>
						<div class="h1 space-25-top" style="color: #1FAE58;"><span class="strong">Brookefield</span> Mall</div>
						<div class="h3 space-25-top space-150-bottom">is <span class="strong">Coming Soon</span></div>
						<a href="https://maps.app.goo.gl/XqDsu6W2CyYpW72E6" target="_blank" class="button fill-green">Open in Google Maps</a>
						<div class="h6 space-50-top">ITPL Main Road, Brookefield, Bangalore</div>
					</div>
				</div>
			</div>
		</section>



		<!-- Footer Section -->
		<section id="footer-section" class="footer-section space-150 text-center" style="border-top: 10px solid #1FAE58;">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h5 space-50-bottom">Contact Us</div>
						<div class="p no-wrap text-dark inline space-25"><img src="/media/icon-phone.svg" class="inline-middle"><a href="tel:+919880914400">&nbsp;+91-98809-14400&nbsp;</a></div>
						<div class="p no-wrap text-dark inline space-25"><img src="/media/icon-mail.svg" class="inline-middle"><a href="mailto:sales@vaswanigroup.com" target="_blank">&nbsp;sales@vaswanigroup.com</a></div>
						<div class="p text-neutral-5 space-100-top">&copy; Copyright - 2024 | Vaswani Group | All Rights Reserved</div>
					</div>
				</div>
			</div>
		</section>




		<!-- Sample Section -->
		<section id="sample-section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->




{% include 'parts/foot.liquid' %}
